// HOME SECTION
#home {
  // HOME SECTION A
  &A {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // HOME SECTION B
  &B {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  // HOME SECTION C
  &C {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      text-align: center;

      // Process icon
      &Icon {
        border-radius: 50%;
        background: $dark-color;
        // color: #fff;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .processStep {
            background: $dark-color;
            width: 10px;
            height: 10px;
            line-height: 10px;
          }
        }
      }

      // Process Step
      &Step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }
    }
  }
}
