@import "config";
@import "utilities";
@import "homeLayout";
@import "itemGrid";

// *GENERAL/CORE STYLES
* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// * LOGO
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase; // INCASE IF THE LOGO IS NOT AN IMAGE
}

// * Main Nav
#mainNav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// *HEADER

#header {
  // HEADER HOME
  &Home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // HEADER CONTENT
    .headerContent {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  //HEADER INNER
  &Inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}
// About section

#about {
  &A {
    .aboutInfo {
      display: grid;
      grid-template-areas:
        "bioImage bio bio"
        "aw1 aw2 aw3";

      gap: 1.2rem;
    }
    // GRID AREAS
    .bioImage {
      grid-area: bioImage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }

    .award1 {
      grid-area: aw1;
    }
    .award2 {
      grid-area: aw2;
    }
    .award3 {
      grid-area: aw3;
    }

    .award1 .fas,
    .award2 .fas,
    .award3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }
  // ABOUT B PROGRESS BARS
  &B {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%; // height of the width
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }

  // ABOUT C : LOGOS
  &C {
    .aboutLogos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      img {
        width: 70%;
      }
    }
  }

  // SECTION D TESTIMONIALS
  &D {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }

      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}

#mainFooter {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footerContent {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .socials .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover:nth-child(odd) {
        background-color: crimson;
        color: $dark-color;
        transition: all 0.6s;
        cursor: pointer;
      }

      &:hover:nth-child(even) {
        background-color: aqua;
        color: $dark-color;
        transition: all 0.6s;
        cursor: pointer;
      }
    }
  }
}
